
:root{
  --branco-principal:#FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botão-azul:#167BF7;
  --cor-de-fundo:#00030C;
  --fonte-principal:'Inter';
  --hover-azul:#0f50a0;
  --active-azul:#082e61;
}

body{
  background-color:var(--cor-de-fundo);
  background-image:url("IMG/Background.png");
  background-repeat:no-repeat;
  background-size:contain;
  height:100vh;
  font-family:var(--fonte-principal);
  font-size:16px;
  font-weight:400;
  position:center;
}

*{
  padding:0;
  margin:0;
}

.container{
  display:inline-block;
  text-align:center;
  margin-left:120px;
  margin-top:100px;
}

.container__botao{
  background-color:var(--botão-azul);
  border-radius:5px;
  color:var(--branco-principal);
  padding:1em;
  display:grid;
  grid-template-columns:100% 100% 100%;
  text-decoration:none;
  margin:2em 0 1em 0;
  padding:16px;
}

.container__botao:hover{
  background-color:var(--hover-azul);
}

.container__botao:active{
  background-color:var(--active-azul);
  color:var(--cinza-secundario);
}

.container__botao_secundario{
  background-color:transparent;
  border-radius:5px;
  color:var(--branco-principal);
  padding:1em;
  border:2px solid var(--branco-principal);
  display:grid;
  grid-template-columns:100% 100% 100%;
  text-decoration:none;
  margin:1em 0 1em 0;
  padding:16px;
}


.container__botao_secundario:active{
  color:var(--cinza-secundario);
}

.txt_aviso{
  color:var(--cinza-secundário);
  font-size:12px;
  text-decoration:none;
  color:var(--branco-principal);
  text-align:center;
  
}

.container__title{
  font-size:28px;
  color:var(--branco-principal);
  font-weight:700;
  display:inline;
  margin-top:2em 0 1em 0;
}

.combo-alura{
  display:inline;
}

.img__secundario{
  width:36%;
  margin-top:15em;
  margin-left:6em;
}

.container__descricao {
  margin-top:20rem;
  margin-left:10em;
  padding:2em;
}

.texto__descricao_titulo{
  color:var(--branco-principal);
  font-size:40px;
}

.texto__descricao_texto{
  color:var(--cinza-secundario);
  margin-right:10em;
}

.container__secundario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botao__terciario{
  padding:1em;
  display:inline-block;
}

.img__terciario{
  margin-right:96px;
  height:100%;
  width:50%;
}

.img__quaternario{
  height:15rem;
  width:24rem;
}

.dispositivos{
  color:var(--branco-principal);
  margin:35em 0;
}

.dispositivos__lista{
  display:flex;
  flex-direction:row;
  justify-content:center;
  list-style-type:none;
}

.dispositivos__txt{
  text-align:center;
}

.titulo__dispositivos{
  text-align:center;
  font-size:48px
}

li:nth-child(n + 1){
  text-align:center;
  font-size:32px;
}

.rodape{
  text-align:center;
  margin-top:-24em
}

.img__logo__rodape{
  margin-bottom:20px;
}

.rodape__lista{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.lista__link{
  text-decoration:none;
  color:var(--branco-principal);
  font-size:16px;
  list-style-type:none;
  padding:0 15px;
}

.lista__link:hover{
  color:var(--cinza-secundario);
}

.lista__link:active{  
  color:var(--botão-azul);
}

.r_txt{
  color:var(--cinza-secundario);
  padding-top:30px;
  font-size:16px;
}

.r_copyright__txt{
  text-decoration:none;
  color:var(--cinza-secundario);
  font-size:16px;
  list-style-type:none;
  padding:0 5px;
  margin-top:30px;
}




  